body {
  background-color: #b8e6ed;
}

@font-face {
  font-family: hojasDePlata;
  src: url(./lib/HojasDePlata.ttf);
}

h1 {
  font-family: hojasDePlata;
  text-align: center;
  font-size: 65px;
  margin-top: 20px;
  color: #2e6e31;
}

.button {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
