body {
  margin: 0 15% 0 15%;

  color: #295C48;
  background-color: #B8E6EC;
}

@font-face {
  font-family: peasAndCarrots;

  src: url(fonts/peas_carrots.ttf);
}

h1 {
  font-family: peasAndCarrots;
  font-size: 110px;

  margin-top: 40px;
  margin-bottom: 0;

  text-align: center;
  letter-spacing: 9px;

  color: #348E59;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

#scoreText {
  margin-top: 0;
  margin-bottom: 40px;

  text-align: center;
}

#uploadText {
  font-size: 25px;

  margin-top: 8px;
  margin-bottom: 5px;

  color: #50615B;
}

#logo {
  max-width: 90px;
  margin-right: -5px;
  margin-bottom: 9px;
  margin-left: -8px;

  vertical-align: sub;
}

#cameraButton {
  max-width: 50px;
  margin-bottom: 5px;
  margin-left: 10px;

  vertical-align: middle;

  opacity: 0.7;
}

.button {
  font-size: 16px;

  display: inline-block;

  padding: 15px 32px;

  text-align: center;
  text-decoration: none;

  color: white;
  border: none;
  background-color: #008CBA;
}

footer {
  position: fixed;
  bottom: 5px;

  margin-left: 35%;

  transform: translate(-50%, 0);
}

.gridContainer {
  display: grid;

  gap: 10px;
  grid-template-columns: 2fr 1fr;
}

#infoBox {
  text-align: center;

  color: #295C48;
  border-left: 2px solid #295C48;
}

#thumbnail {
  max-width: 200px;
  max-height: 210px;
}

#commonName {
  font-size: 25px;

  margin-bottom: 0;
}

#scientificName {
  font-style: italic;
}

#readMore:hover {
  cursor: pointer;
}

#plantydexItems {
  display: grid;
  overflow-y: auto;

  max-height: 40vh;
  margin-top: 30px;

  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
}

.plantydexItem {
  max-width: 100px;
  margin: auto;
}

#uploadPhoto {
  position: relative;

  overflow: hidden;

  margin-right: 60px;
  margin-left: 60px;

  text-align: center;

  border-radius: 15px;
  background-color: #B2C5BE;
}

#uploadPhoto input[type=file] {
  font-size: 100px;

  position: absolute;
  top: 0;
  left: 0;

  opacity: 0;
}

input:hover {
  cursor: pointer;
}
