body {
  background-color: #b8e6ec;
  color: #295C48;
  margin: 0% 15% 0% 15%;
}

@font-face {
  font-family: hojasDePlata;
  src: url(./lib/HojasDePlata.ttf);
}

@font-face {
  font-family: peasAndCarrots;
  src: url(./lib/peas_carrots.ttf);
}

h1 {
  font-family: peasAndCarrots;
  letter-spacing: 9px;
  text-align: center;
  font-size: 110px;
  margin-top: 50px;
  margin-bottom: 0px;
  color: #348E59;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

#score-text {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 60px;
}

#upload-text {
  font-size: 25px;
  color: #50615B;
}

#logo {
  max-width: 90px;
  vertical-align: sub;
  margin-bottom: 9px;
  margin-left: -8px;
  margin-right: -5px;
}

#camera-button {
  max-width: 50px;
  vertical-align: middle;
  margin-bottom: 5px;
  margin-left: 10px;
  opacity: 0.7;
}

.button {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

footer {
  position: fixed;
  bottom: 5px;
  margin-left: 35%;
  transform: translate(-50%, 0);
}

.grid-container {
  display: grid;
  gap: 10px;
  grid-template-columns: 2fr 1fr;
}

.grid-item {
  text-align: center;
}

#info-box {
  border-left: 2px solid #295C48;;
}


#common-name {
	text-align: center;
	font-size: 25px;
	margin-bottom: 0px;
}

#scientific-name {
	text-align: center;
	font-style: italic;
}

#read-more-div {
	text-align: center;
}

#read-more:hover {cursor: pointer;}

#plantydex-items {
  overflow-y: auto;
  height: 30vh;
  display: grid;
  gap: 20px;
  margin-top: 30px;
  grid-template-columns: 1fr 1fr 1fr;
}

.plantydex-item {
  max-width: 85px;
}

#upload-photo {
  position: relative;
  overflow: hidden;
  text-align: center;
  background-color: #B2C5BE;
  border-radius: 15px;
}

#upload-photo input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

input:hover {cursor: pointer;}

